.dashboard-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar {
    width: 250px;
  }
  
  .content-area {
    padding: 20px;
    /*background-color: #f5f5f5;*/
    min-height: calc(100vh - 64px); /* Ajusta la altura según el header */
  }
  
  mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
  
  app-header-dashboard {
    flex-shrink: 0;
  }
  .scroll-to-top {
    position: fixed;
    bottom: 20px; /* Distancia desde el fondo */
    right: 20px; /* Distancia desde la derecha */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }